:root {
  /* brand */
  --hue: 201;
  --sat: 82%;
  --lum: 0%;
  --x: 1;

  /* grayscale: default */
  --gs-0: hsl(var(--hue), var(--sat), calc((0% - var(--lum)) * var(--x)));
  --gs-03: hsl(var(--hue), var(--sat), calc((3% - var(--lum)) * var(--x)));
  --gs-05: hsl(var(--hue), var(--sat), calc((5% - var(--lum)) * var(--x)));
  --gs-10: hsl(var(--hue), var(--sat), calc((10% - var(--lum)) * var(--x)));
  --gs-20: hsl(var(--hue), var(--sat), calc((20% - var(--lum)) * var(--x)));
  --gs-30: hsl(var(--hue), var(--sat), calc((30% - var(--lum)) * var(--x)));
  --gs-40: hsl(var(--hue), var(--sat), calc((40% - var(--lum)) * var(--x)));
  --gs-50: hsl(
    var(--hue),
    calc(var(--sat) * 0.5),
    calc((50% - var(--lum)) * var(--x))
  );
  --gs-60: hsl(
    var(--hue),
    calc(var(--sat) * 0.4),
    calc((60% - var(--lum)) * var(--x))
  );
  --gs-70: hsl(
    var(--hue),
    calc(var(--sat) * 0.3),
    calc((70% - var(--lum)) * var(--x))
  );
  --gs-80: hsl(
    var(--hue),
    calc(var(--sat) * 0.2),
    calc((80% - var(--lum)) * var(--x))
  );
  --gs-90: hsl(
    var(--hue),
    calc(var(--sat) * 0.1),
    calc((90% - var(--lum)) * var(--x))
  );
  --gs-95: hsl(
    var(--hue),
    calc(var(--sat) * 0.05),
    calc((95% - var(--lum)) * var(--x))
  );
  --gs-97: hsl(
    var(--hue),
    calc(var(--sat) * 0.03),
    calc((97% - var(--lum)) * var(--x))
  );
  --gs-100: hsl(
    var(--hue),
    calc(var(--sat) * 0),
    calc((100% - var(--lum)) * var(--x))
  );

  /* colors */
  --c-green: hsl(145, 46%, 51%);
  --c-dark-navy: hsl(201, 82%, 11%);
  --c-blue: hsl(207, 72%, 57%);
  --c-purple: hsl(260, 73%, 70%);
  --c-indigo: hsl(229, 76%, 66%);
  --c-turquoise: hsl(179, 51%, 39%);
  --c-pink: hsl(329, 64%, 54%);
  --c-red: hsl(0, 76%, 57%);
  --c-orange: hsl(24, 74%, 50%);

  box-sizing: border-box;
  color: var(--gs-10);
  font-family: Roboto, 'sans-serif';
}

@media (prefers-color-scheme: dark) {
  :root {
    --lum: 0%;
    --x: 1;
  }
}

* {
  box-sizing: inherit;
}

html {
  font-family: Roboto, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--gs-95);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@keyframes loading {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

[data-loading='true'] {
  color: transparent !important;
  background: linear-gradient(
    30deg,
    var(--gs-95) 0%,
    var(--gs-90) 60%,
    var(--gs-95) 100%
  );
  border-radius: 0.2rem;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  content: '';
}

svg.MuiSvgIcon-root {
  font-size: 1.2em;
  line-height: 0.5;
  vertical-align: -0.2em;
}
